//FONTS
@import url('https://fonts.googleapis.com/css?family=Short+Stack');
$font: 'Short Stack', cursive;

#homeContainer {
	position: absolute;
	margin: -10px;
	height: 100%;
	width: 100%;
	text-align: center;
	background-image: url(../../../src/img/grid2.png);
	z-index: 100;
}

h1.gameTitle {
	font-family: $font;
	font-size: 100px;
	letter-spacing: 15px;
	margin-top: 200px;
}

button.play {
	width: 250px;
	height: 130px;
	margin-top: 70px;
	font-size: 60px;
	font-family: $font;
	background-color: transparent;
	background-image: url( ./images/bigButton3.png );
	background-repeat: no-repeat;
	border: none;
	outline: none;
	cursor: pointer;
    transition-duration: 0.3s;
    transition-property: transform;
}

button.play:hover, .play:focus, .play:active {
	transform: scale(1.1)
}