//FONTS
@import url('https://fonts.googleapis.com/css?family=Short+Stack');
$font: 'Short Stack', cursive;


.wordContainer {
	height: 100px;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	margin-left: 70px;
	margin-bottom: 50px;
	float: right;
}

ul.wordToGuess {
	font-size: 50px;
	letter-spacing: 30px;
	margin-left: 300px;
	font-family: $font;
	text-transform: uppercase;
	text-align: center;
	color: black;
}

